<!-- bottom nav bar -->
<div class="container-navbar">
  <nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-center">
    <h6 class="navbar-text">
      &copy; Copyright 2023 by Eshal Arif.
   
      <a href="https://www.linkedin.com/in/eshal-arif-643a68299/" target="_blank">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>

      <a href="https://github.com/eshalarif1" target="_blank">
        <i class="fab fa-github"></i> GitHub
      </a>
    </h6>
  </nav>
</div>
