<% include partials/header%> 
<% include partials/main_nav%> 


<!--creating a html doctype declartion-->
<!DOCTYPE HTML>
<html>
<body>
    <!--formattingn the aboutme page, with a heading and a video and an image-->
    <div class="aboutme1">
        <h2> Get to Know Me:</h2>
        <div class= "eshals-image"> 
            <img src="Assets/images/eshal2.png" alt="Eshal's Image" width="250" height="300">
        <div class= "eshals-video"> 
            <video width="400" height="400" controls poster="Assets/images/hieshal3.jpg">
            <source src="Assets/images/eshalvideo2.mp4" type="video/mp4">
            <source src="filename.ogv" type="video/ogg">
            Your browser doesn't support the video tag.
        </video>
        </div>
        </div>
        </div>
    <!--creating a seperate class for information about me (paragraph format)-->
    <div class ="section">
        <div class="aboutmeinfo">
            <article>
                <p>Hi, my name is Eshal! and I am a second year student here at Ontario Tech University.I am pursuing an
                undergraduate degree in the Faculty of Business and I.T. I was originally in the health sciences program
                and then transferred to the tech side of things! Fun fact! I have two cats, and have four sisters. I
                also have recently became the aunt to two nephews! I hope youre enjoying this website about me, and are
                having a great day!</p>
        </article>
    </div>


</body>







<% include partials/bottom_navigation%> 
<% include partials/footer%> 

