<% include partials/header%> 
<% include partials/main_nav%> 

<body>
<!--creating a class. to store information for homepage called, eshals port-->
    <div class="eshalsport">
        <h3>Hi My Name is Eshal</h3>
        <h4>Second Year Student/ Tech Management </h4>
        <div class="circleimage">
            <img src="Assets/images/eshalphoto3.jpeg" alt="Photo of Me" width="120" height="120">
            <p>Learn more about me through this webpage, I look forward to connecting with you!</p>

        </div>

</body>

<% include partials/bottom_navigation%> 
<% include partials/footer%> 


