<% include partials/header%> 
<% include partials/main_nav%> 

<body>
<div class="rightsside">
        <h2>Here are the projects that I have previously worked on :</h2>
        <div class="boxes">
            <h3>Tic Tac Toe Game/ Python</h3>
            <p>I designed a tic tac toe game using python in which 2 users can play, using x and o's to try to make a
                row of three</p>
        </div>
        <div class="boxes">
            <h3>Cipher Decryption/OOP</h3>
            <p>The cipher decryption allowed users to get an encrypted message, and the allowed them to decrypt it using
                several ciphers</p>
        </div>
        <div class="boxes">
            <h3>Calculator/ Python</h3>
            <p>I created a calculator to help users perform a series of mathemaic related algorithms</p>
        </div>
        <div class="boxes">
            <h3>This Website / HTML & CSS & Express (EJS) </h3>
            <p>I created this website, using HTML and CSS and now Express and EJS! I hope you like it!</p>
        </div>
        <div class="boxes">
            <h3> Hangman/ Python</h3>
            <p>I designed a game which gave users a random word, and allowed them to guess a serious of letters to guess
                the word</p>
        </div>
        <div class="boxes">
            <h3>Personal Dashboard/ Visual Basic</h3>
            <p>I created visualizations using visual basic from large data sets in Excel,</p>
        </div>
    </div>

</body>
<% include partials/bottom_navigation%> 
<% include partials/footer%> 
