<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>
<!--content for the add page !--> 

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6" width=700px height=800px>

        
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Exercise</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter an Exercise"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="targetTextField">Target</label>
                    <input type="text" class="form-control"
                    id="targetTextField"
                    placeholder="Enter a target "
                    name="target" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control"
                    id="descriptionTextField"
                    placeholder="Enter a description"
                    name="description" required>
                </div>

                <div class="form-group">
                    <label for="durationTextArea">Duration</label>
                    <textarea type="text" class="form-control"
                    id="durationTextArea"
                    placeholder="Enter the duration of the exercise"
                    name="exercise" required></textarea>
                </div>

                <div class="form-group">
                    <label for="repsTextField">Reps</label>
                    <input type="text" class="form-control"
                    id="repsTextField"
                    placeholder="Enter the amount of reps"
                    name="Reps" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/exerciselist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>





<% include ../partials/bottom_navigation.ejs %>
<% include ../partials/footer.ejs %>